<p>Are you sure you want to delete"{{item}}</p>

<a href="{% url 'list' %}">cancel</a>

<form method="POST" action="">
    {% csrf_token %}
    <input type="submit" name="confirm">
</form>
<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div> 
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>